@using Stl.OS
<MudText Typo="Typo.subtitle1" Class="pa-4">
    @if (IsBlazorServer)
    {
        <span>Blazor Server side</span>
    }
    else
    {
        <span>Blazor Webassembly</span>
    }
</MudText>
<MudNavMenu>

    <MudDivider />
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="/painel-sample" Match="NavLinkMatch.All">Manage Hosptial Beds</MudNavLink>
    <MudDivider />
    <MudNavLink Href="https://github.com/servicetitan/Stl.Fusion.Samples">Source &amp; GitHub</MudNavLink>
</MudNavMenu>


@code {
    private static bool IsBlazorServer => OSInfo.Kind != OSKind.WebAssembly;
} 