
body div.mud-main-content {
    padding-top: 86px;
    padding-bottom: 64px;
}

@media (min-width: 960px) {
    body div.mud-main-content {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.loader-box {
    width: 500px;
    height: 120px;
    margin: 100px auto;
    text-align: center;
    font-family: Consolas, Verdana;
    font-size: 12px;
}

    .loader-box progress {
        height: 1rem;
    }

.selected-card {
    /*border: 1px solid blue;*/
    outline: 2px solid var(--mud-palette-primary);
    /*
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);*/
}
.not-selected-card {
    opacity: .4;
}


.dragging {
    cursor: grabbing;
    background-color: limegreen;
}


.dragging-start {
    opacity: 0.3;
}

.dragging-enter {
    border: 1px solid limegreen;
}

.rate-green {
    color: #46f418;
    text-shadow: 1px 1px 1px #fff;
    
}

.rate-orange {
    color: #ff6a00;
}

.rate-red {
    color: #fe2828;
}
#blazor-error-ui{
    background-color: var(--mud-palette-error);

}